.ProductList {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;

  .productLayout {
    margin: 0 15px 5px 0;

    .productImg {
      width: 200px;
      height: 200px;
      margin-bottom: 5px;
    }

    .productName {
      font-weight: 900;
      margin-bottom: 5px;
    }

    .productPrice {
      color: red;
      margin-bottom: 5px;
    }
  }
}
