.OrderList {
  margin-top: 50px;
  border: 1px solid #7f8c8d;

  .OrderListLayout {
    border: 1px solid #ecf0f1;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;

    .productImg {
      width: 56px;
      height: 56px;
    }

    .productInfo {
      height: 56px;
      display: flex;
      flex-direction: column;

      .productName {
        font-size: 18px;
        font-weight: bold;
      }
      .productPrice {
        font-size: 15px;
      }
    }

    .amountControl {
      display: flex;

      button {
        width: 26px;
        height: 26px;
        border-radius: 50%;
        background: black;
        color: white;
        font-weight: bold;
        font-size: 15px;
        text-align: center;
        outline: none;
      }
    }
  }
}
