.Cart {
  padding: 0 23%;

  .titleForm {
    width: 100%;
    margin-top: 150px;
    padding-bottom: 50px;
    border-bottom: 1px solid black;

    .title {
      top: 150px;
      font-weight: 900;
    }
  }
}
